.button::after{
    display: none;
}
.social-media-container{
    text-align: center;
    justify-content: center;
}
.button{
    color: white;
    margin: 0.2rem;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 10%;
}
.button:hover{
    color: white;
}
.btn-facebook{
    background-color: #3b5998;
    padding: 8px 15.5px;
}
.btn-facebook:hover{
    background-color: #2d4579;
}
.btn-twitter{
    background-color: #55acee;
}
.btn-twitter:hover{
    background-color: #448ac0;
}
.btn-linkedin{
    background-color: #0976b4;
    padding: 8px 12.5px;
}
.btn-linkedin:hover{
    background-color: #0b5c8b;
}
.btn-pinterest{
    background-color: #cc2127;
    padding: 8px 14px;
}
.btn-pinterest:hover{
    background-color: #991b1f;
}
.btn-tumblr{
    background-color: #35465c;
    padding: 8px 15.5px;
}
.btn-tumblr:hover{
    background-color: #202b38;
}
.btn-reddit{
    background-color: #ff4500;
    padding: 8px 11px;
}
.btn-reddit:hover{
    background-color: #ce3a04;
}