.arrow-left,.arrow-right{
    padding: 5px 13px;
    background-color: rgb(245, 56, 26);
}
.arrow-left:hover,.arrow-right:hover{
    background-color: rgb(204, 47, 23);
}
.carousel span{
    position:absolute;bottom:2rem;right:0.5rem;
}
.carousel-caption{
    background-color:rgba(0,0,0,.7);
    color:white;
}